




.pagination {
  display: inline-block;
  text-align: center;
  bottom: 0;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: orange;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  color: white;
  cursor: pointer;
}

input[type="number"] {
  width: 50px;
  border-radius: 5px;
  border-color: orange;
}